<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.monikagarg.finalproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewHere"
            android:label="@string/title_activity_new_here"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".LandingPageActivity"
            android:label="@string/title_activity_landing_page_activity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.monikagarg.finalproject.LandingPageActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.monikagarg.finalproject.NEWnotes"
            android:label="@string/title_activity_newnotes"
            android:theme="@style/AppTheme.NoActionBar" >
        <intent-filter>
            <action android:name="com.example.monikagarg.finalproject.NEWnotes" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
        </activity>

        <activity
            android:name="com.example.monikagarg.finalproject.NEWevent"
            android:label="@string/title_activity_newevent"
            android:theme="@style/AppTheme.NoActionBar">
        <intent-filter>
            <action android:name="com.example.monikagarg.finalproject.NEWevent" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
        </activity>

        <activity
            android:name="com.example.monikagarg.finalproject.NEWtimetableentry"
            android:label="@string/title_activity_newtimetableentry"
            android:theme="@style/AppTheme.NoActionBar">
        <intent-filter>
            <action android:name="com.example.monikagarg.finalproject.NEWtimetableentry" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
        </activity>

        <activity
            android:name="com.example.monikagarg.finalproject.NEWmenuentry"
            android:label="@string/title_activity_newmenuentry"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.monikagarg.finalproject.NEWmenuentry" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>